<nav class="pagination" role="pagination">
    {{#if prev}}<a class="newer-posts" href="{{page_url prev}}">&larr; جدیرتر</a> <span class="separator">|</span> {{/if}}
    <span class="page-number">صفحه {{page}} از {{pages}}</span>
    {{#if next}} <span class="separator">|</span> <a class="older-posts" href="{{page_url next}}">قدیمی‌تر &rarr;</a>{{/if}}
</nav>
